%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-arrow:before {
  content: "\e900";
}
._icon-credit-card:before {
  content: "\e901";
}
._icon-location:before {
  content: "\e902";
  color: #f1cdb3;
}
._icon-mail:before {
  content: "\e903";
  color: #f1cdb3;
}
._icon-paggination-last:before {
  content: "\e904";
}
._icon-paggination-next:before {
  content: "\e905";
}
._icon-phone:before {
  content: "\e906";
  color: #f1cdb3;
}
._icon-slider-arrow:before {
  content: "\e907";
}
