.addition {
	padding: 79px 0px 100px 0px;
	@media (max-width: $mobileSmall) {
		padding: 42px 0px 42px 0px;
	}
	// .addition__container
	&__container {
		display: flex;
		justify-content: center;
	}
	// .addition__wrapper
	&__wrapper {
		display: flex;
		flex: 1 1 auto;
		max-width: 915px;
		align-items: center;
		column-gap: 30px;
		@media (max-width: 768px) {
			flex-direction: column-reverse;
			gap: 60px;
		}
		@media (max-width: $mobileSmall) {
			gap: 42px;
		}
	}
	// .addition__image
	&__image {
		position: relative;
		width: 55.19%;
		padding: 0px 0px 28.52% 0px;
		@media (max-width: 768px) {
			width: 71.19%;
			padding: 0px 0px 36.52% 0px;
		}
		@media (max-width: $mobileSmall) {
			width: 87.19%;
			padding: 26px 0px 36.52% 0px;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	// .addition__decr
	&__decr {
		max-width: 380px;
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	// .addition__title
	&__title {
		max-width: 300px;
		margin: 0px 0px 20px 0px;
		@media (max-width: $mobileSmall) {
			max-width: 210px;
			margin: 0 auto 20px;
		}
	}
	// .addition__bank
	&__bank {
		font-weight: 400;
		font-size: 15px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: #545454;
		margin: 0px 0px 18px 0px;
		@media (max-width: $mobileSmall) {
			line-height: 160%;
			letter-spacing: unset;
			max-width: 273px;
			margin: 0 auto 18px;
		}
	}
	// .addition__account
	&__account {
		display: inline-block;
		padding: 10px 15px 10px 15px;
		background: #f1cdb3;
		border-radius: 9px;
		margin: 0px 0px 20px 0px;
	}
	// .addition__numbers
	&__numbers {
		display: inline-flex;
		align-items: center;
		align-items: center;
		font-weight: 400;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 0.06em;
		color: #545454;
		&::before {
			color: #292929;
			font-size: 23px;
			margin: 0px 15px 0px 0px;
		}
		@media (max-width: $mobileSmall) {
			font-size: 15px;
			line-height: 101%;
		}
	}
	// .addition__text
	&__text {
		font-family: "Arial";
		font-style: italic;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: #b2b2b2;
		@media (max-width: $mobileSmall) {
			text-align: justify;
			max-width: 280px;
		}
	}
}
