.help {
	padding: 80px 0px 100px 0px;
	// .help__title
	&__title {
		max-width: 310px;
		margin: 0 auto 60px;
		text-align: center;
	}
	// .help__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 55px 120px;
		justify-content: center;
		@media (max-width: $tablet) {
			gap: 55px 60px;
		}
		@media (max-width: $mobileSmall) {
			gap: 30px;
		}
	}
}

.item {
	height: 113px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 170px;
	@media (max-width: $tablet) {
		width: 170px;
	}
	@media (max-width: $mobileSmall) {
		width: 130px;
	}
	// .item__img
	&__img {
		width: 60px;
		height: 60px;
	}
	// .item__text
	&__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 135%;
		letter-spacing: 0.06em;
		color: #545454;
	}
}
