.slider-container {
	overflow: hidden;
	max-width: 990px;
	margin: 0 auto;
	padding: 0px 0px 60px 0px;
}
.slider-track {
	display: flex;
	transition: all 0.3s ease 0s;
}
.slider-item {
}
.slider-buttons {
}
.btn-prev {
}
.btn-next {
}
