.button {
	display: inline-block;
	background: #f1cdb3;
	border-radius: 100px;
	padding: 15px 45px 15px 45px;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&:hover {
		background: #fddcc4;
	}
	&_light {
		border: 2px solid #f1cdb3;
		background: transparent;
	}
	&_center {
		@media (max-width: 991.98px) {
			margin: 0 auto;
		}
	}
}
