//====================================================================================================
.footer {
	background: url("@img/first-screen/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
	padding: 40px 0px 0px 0px;
	// .footer__container
	&__container {
		display: flex;
		justify-content: space-between;
	}
	// .footer__image
	&__image {
	}
	// .footer__img
	&__img {
	}
}
.footer-item {
	padding: 16px 0px 0px 0px;
	// .footer-item__title
	&__title {
		color: #ffffff;
	}
	// .footer-item__info
	&__info {
		display: inline-flex;
		align-items: center;
		font-weight: 400;
		font-size: 20px;
		line-height: 115%;
		letter-spacing: 0.06em;
		color: #f1cdb3;
		&::before {
			margin: 0px 20px 0px 0px;
			font-size: 32px;
			line-height: 29px;
		}
		&_first {
			&::before {
				font-size: 26px;
				line-height: 28px;
			}
		}
		&_second {
			&::before {
				font-size: 32px;
				line-height: 37px;
			}
		}
	}
	&_1 {
		max-width: 279px;
		:nth-child(2) {
			margin: 40px 0px 40px 0px;
		}
	}
	&_2 {
		max-width: 302px;
		:nth-child(2) {
			margin: 31px 0px 35px 0px;
		}
	}
}

//====================================================================================================
