//====================================================================================================
.header {
	// .header_descr
	&_descr {
		font-family: "Arial";
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.1em;
		color: #ffffff;
		text-align: center;
	}
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
	}
	// .header__logo
	&__logo {
		transition: all 0.3s ease 0s;
		min-width: 184px;
		&_replace {
			position: absolute;
			top: 30px;
			left: 10px;
		}
	}
	// .header__title
	&__title {
		font-weight: 400;
		font-size: 32px;
		line-height: 114%;
		letter-spacing: 0.06em;
		color: #f1cdb3;
		margin: 0px 0px 9px 0px;
	}
}
.menu {
	.overlay {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		&_active {
			visibility: visible;
			opacity: 1;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(41, 41, 41, 0.6);
			z-index: 5;
		}
	}
	// .menu__body
	&__body {
		@media (max-width: 767.98px) {
			position: fixed;
			top: 0;
			right: 0;
			width: 85.33%;
			height: 100%;
			background: #292929;
			z-index: 10;
			display: flex;
			justify-content: center;
			align-items: start;
			padding: 248px 0px 0px 0px;
			overflow-y: auto;
			right: -100%;
			transition: all 0.3s ease 0s;
			@media (max-width: 374.98px) {
				width: 100%;
			}
			&_active {
				right: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		font-family: "Arial";
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: center;
			font-size: 32px;
		}
	}

	// .menu__item
	&__item {
		@media (max-width: 767.98px) {
			&:not(:last-child) {
				padding: 0px 0px 42px 0px;
			}
		}
		@media (min-width: 768px) {
			&:not(:last-child) {
				margin: 0px 35px 0px 0px;
			}
		}
		&:hover {
			&:not(:first-child) {
				.menu__link_active {
					&::after {
						display: none;
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		color: #cdcdcd;
		transition: all 0.3s ease 0s;
		padding: 0px 0px 5px 0px;
		@media (max-width: 767.98px) {
			padding: 0px 0px 11px 0px;
		}
		&:hover {
			color: #fafafa;
		}
		&_active {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				height: 3px;
				width: 100%;
				background: #f1cdb3;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: absolute;
		width: 30px;
		height: 22px;
		transition: all 0.3s ease 0s;
		cursor: pointer;
		z-index: 15;
		top: 49px;
		right: 54px;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #f1cdb3;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			transform: rotate(90deg);
		}
	}
}
