.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(41, 41, 41, 0.6);
	overflow-y: auto;
	overflow-x: hidden;
	visibility: hidden;
	opacity: 0;
	transition: all 0.7s ease 0s;
	z-index: 30;
	// .popup_descr
	&_descr {
	}
	// .popup__body
	&__body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	// .popup__content
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		background: #fafafa;
		border-radius: 9px;
		width: 64.25%;
		height: 41.66%;
		transform: perspective(500px) translate(0, -100%) rotateX(45deg);
		transition: all 0.7s ease 0s;
		opacity: 0;
		cursor: auto;
		@media (max-width: 1170px) {
			width: 630px;
			height: 350px;
			gap: 11px;
		}
		@media (max-width: 730px) {
			width: 240px;
		}
	}
	// .popup__close
	&__close {
		position: absolute;
		top: -53px;
		right: -42px;
		width: 52px;
		height: 52px;
		cursor: pointer;
		border: 2px solid #f1cdb3;
		border-radius: 50%;
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 23px;
			left: 16px;
			width: 16px;
			height: 2px;
			background: #292929;
			border-radius: 3px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		@media (max-width: 730px) {
			right: -30px;
		}
		&:hover{
			background: #FDDCC4;
		}
	}

	// .popup__image
	&__image {
		position: relative;
		width: 55.55%;
		padding: 0px 0px 55.55% 0px;
		@media (max-width: 1170px) {
			width: 73.55%;
		}
		@media (max-width: 730px) {
			display: none;
		}
	}
	// .popup__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.descr {
	max-width: 351px;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	padding: 5.56% 0px 0px 0px;
	margin-right: 2.26%;
	@media (max-width: 1170px) {
		padding-top: 10px;
		font-size: 13px;
		margin-right: 9px;
	}
	@media (max-width: 730px) {
		padding: 10px 10px 10px 10px;
		margin-right: 0;
	}
	// .descr_link
	&_link {
		padding: 0px 0px 0px 14px;
		position: relative;
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		&::before {
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background: #f1cdb3;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		span {
			font-weight: 700;
		}
		@media (max-width: 1170px) {
			font-size: 15px;
			&:not(:last-child) {
				margin: 0px 0px 6px 0px;
			}
		}
	}
	// .descr__name
	&__name {
		color: #000;
		margin: 0px 0px 9px 0px;
		@media (max-width: 730px) {
			justify-content: center;
		}
	}
	// .descr__breed
	&__breed {
		font-weight: 400;
		font-size: 20px;
		line-height: 120%;
		letter-spacing: 0.06em;
		margin: 0px 0px 11.55% 0px;
		@media (max-width: 1170px) {
			margin-bottom: 20px;
		}
		@media (max-width: 730px) {
			text-align: center;
		}
	}
	// .descr__text
	&__text {
		max-width: 350px;
		margin: 0px 0px 12.55% 0px;
		@media (max-width: 1170px) {
			margin-bottom: 20px;
		}
		@media (max-width: 730px) {
			text-align: center;
			text-align: justify;
		}
	}
	// .descr__list
	&__list {
	}
}

.popup-open {
	visibility: visible;
	opacity: 1;
	.popup__content {
		transform: translate(0, 0);
		opacity: 1;
	}
}
